[Unit]
Description=NATS

[Service]
User=pi
ExecStart=/usr/bin/gnatsd
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
